root{
    -fx-background-color:#ffffff;
    -fx-border-color: #0000cc;
    -fx-border-radius:5;
    -fx-background-radius:5;
}


.text {
    -fx-text-fill: #F00;
    -fx-font-smoothing-type: lcd;
}

.combo-box-base{
    -fx-background-color:  #eceff1;
    -fx-padding: 2 2;
}

.combo-box-base:editable{
    -fx-background-color: #FF0;
}

.combo-box-base:editable > .text-field {
    -fx-border-image-source: null;
    -fx-background-color: transparent;
    -fx-padding: 1 0;
    -fx-text-fill: #eceff1;
}

.combo-box-base > .arrow-button {
    -fx-background-color: #4059a9;
    -fx-padding: 0 4;
    -fx-text-fill: #eceff1;
}

.combo-box-base > .arrow-button > .arrow {
    -fx-background-color:  #eceff1;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 2 4;
    -fx-shape: "M 0 0 H 7 L 3.5 4 z";
    -fx-text-fill: #eceff1;
}

.combo-box-popup > .list-view {
    -fx-border-style: solid;
    -fx-border-width: 1;
    -fx-border-color:  #eceff1;
    -fx-background-color: white;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #eceff1;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 1 10;
    -fx-background: #ab34eb;
    -fx-text-fill: #eceff1;
}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background: green;
    -fx-background-color: orange !important;
    -fx-text-fill: #eceff1;

}
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background-color: silver !important;
    -fx-text-fill: #eceff1;
}
.combo-box-popup > .list-view > .placeholder > .label {
    -fx-text-fill: blue;
    -fx-text-fill: #eceff1;
}